body {
    font-family: 'Inter', sans-serif;
}

nav {
    background-color: #f5f5f5;
    padding: 8px;
    margin: 0;
    height: 100vh;
    width: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 0;
    justify-content: center;

    > li {
        background-color: #e6e6e6;
        padding: 16px;
        border-radius: 8px;
        cursor: pointer;
        color: black;
    }
}

#profile-picture {
    width: 72px;
    height: 72px;
    border-radius: 9999px;
}

#header-logo {
    width: 48px;
    height: 48px;
}

header {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

header div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#clients-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.client-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: auto;

    .client-card__name {
        display: flex;
        flex-direction: column;
        gap: 4px;

        > h2,
        > p {
            margin: 0;
        }
    }

    .client-card__main-info {
        display: flex;
        gap: 24px;
        padding: 24px;
        align-items: center;

        > img {
            width: 72px;
            height: 72px;
            border-radius: 9999px;
        }
    }

    .client-card__details {
        border-top: 1px solid #ccc;
        padding: 24px;

        > p {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 8px;

            > span {
                font-weight: bold;
            }
        }
    }

    .client-card__delete-btn {
        background-color: #f44336;
        color: white;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
    }
}

.content {
    display: flex;
    gap: 24px;
}

.layout {
    display: flex;
    gap: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    > fieldset {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}