body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

aside {
    background-color: #fbfbfb;
    padding: 8px;
    margin: 0;
    height: 100vh;
    width: 200px;
    gap: 24px;
    display: flex;
    flex-direction: column;

    > nav {
        background-color: #fbfbfb;
        margin-bottom: 12px;
        height: auto;
        width: 200px;

        > ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin: 0;
            padding: 0;
            justify-content: center;

            > li {
                background-color: #e6e6e6;
                padding: 16px;
                border-radius: 8px;
                cursor: pointer;
                color: black;
            }
        }
    }

    .logo-container {
        display: flex;
        align-items: center;
        gap: 10px;

        #header-logo {
            width: 48px;
            height: 48px;
        }
    }

    .sidebar-profile-container {


        #profile-picture {
            width: 72px;
            height: 72px;
            border-radius: 9999px;
        }
    }
}

nav {
    background-color: #fbfbfb;
    margin-bottom: 12px;
    height: auto;
    width: 200px;

    > ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 0;
        padding: 0;
        justify-content: center;

        > li {
            background-color: #e6e6e6;
            padding: 16px;
            border-radius: 8px;
            cursor: pointer;
            color: black;
        }
    }
}

#clients-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
    padding: 12px;
    margin: 12px;
}

.clients-section__action-block {
    display: flex;
    gap: 8px;
    justify-content: space-between;

    .clients-section__action {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 25%;

        select,
        input {
            box-sizing: border-box;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            height: 40px;
            font: inherit;
        }
    }
}

#clients-section__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 8px;
}

.client-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;

    .client-card__name {
        display: flex;
        flex-direction: column;
        gap: 4px;

        > h2,
        > p {
            margin: 0;
        }
    }

    .client-card__main-info {
        display: flex;
        gap: 24px;
        padding: 24px;
        align-items: center;

        > img {
            width: 72px;
            height: 72px;
            border-radius: 9999px;
        }
    }

    .client-card__details {
        border-top: 1px solid #ccc;
        padding: 24px;

        > p {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 8px;

            > span {
                font-weight: bold;
            }
        }
    }

    .client-card__actions {

        display: flex;
        gap: 8px;
        width: 100%;

        .client-card__delete-btn {
            background-color: #f44336;
            color: white;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }

        .client-card__edit-btn {
            background-color: #cccccc;
            color: black;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }
    }
}

.content {
    display: flex;
    gap: 24px;
    flex: 1;
}

.layout {
    display: flex;
    gap: 24px;
}

#form-section {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px;
    margin: 12px;
    border-radius: 8px;

    .form {
        display: flex;
        flex-direction: column;
        gap: 12px;

        > button {
            background-color: #cccccc;
            color: black;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }

        > fieldset {
            border: none;
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 0;
            margin: 0;

            > input {
                box-sizing: border-box;
                padding: 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                height: 40px;
                font: inherit;
            }
        }
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}